  @import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}


body {
    margin: 0;
    padding: 0;
}



h1 {
    color: #606c38;
    padding-left: 10px;
    font-family: 'Caprasimo', cursive;
    font-size:40px;
}

h2 {
    padding-left: 10px;
}
footer {
    padding-bottom: 24px;
    padding-top: 24px;
}

img {
    height: 200px;
}

nav {
    border-bottom: 3px solid #bc6c25;
    padding: 16px;
    background-color: #606c38;
}

nav a {
    color: #fefae0;
    text-decoration: none;
}

nav a:hover {
    color: #dda15e;
}

main {
    padding: 10px;
}
main a {
    color: #606c38;
    border: 2px solid #606c38;
    padding: 5px;
    border-radius: 80px;
    transition-delay: 0.1s;
}

main a:hover {
    color: white;
    border 2px solid white;
    padding 7px;
    border-radius: 80px;
    background-color: #606c38;
    box-shadow: black 3px 0 3px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #606c38;
    color: #fefae0;
    border-top: 3px solid #bc6c25;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-left: 30px;
}

.item-one {
    grid-column: 1/2;
    grid-row: 1/2;
}
.item-two {
    grid-column: 2/3;
    grid-row: 1/2;
}
.item-three {
    grid-column: 3/4;
    grid-row: 1/2;
}
.item-four {
    grid-column: 4/5;
    grid-row: 1/2;
}

.item-five {
    grid-column: 1/2;
    grid-row: 2/3;
}

tr:nth-child(even) {
    background-color: grey;
}
